<p style="color: green"><%= notice %></p>

<%= render @account_setting %>

<div>
  <%= link_to "Edit this setting", edit_account_setting_path(@account_setting) %> |
  <%= link_to "Back to settings", account_settings_path %>

  <%= button_to "Destroy this setting", @account_setting, method: :delete %>
</div>
